[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.12.4"
django-filter = "==2.4.0"
asgiref = "==3.3.1"
pytz = "==2021.1"
sqlparse = "==0.4.1"
Markdown = "==3.3.4"
Django = "==3.1.7"
dj-database-url = "==0.5.0"
psycopg2 = "*"
gunicorn = "*"
django-cors-middleware = "*"
django-extensions = "*"
PyJWT = "*"

[dev-packages]

[requires]
python_version = "3.9"
